<!DOCTYPE html>
<html>

<head>
    <% include header.ejs %>
        <style>
            .content .input-area {
                margin: 20px 20%;
            }
            
            .header {
                text-align: center;
            }
        </style>
</head>

<body>
    <% include navbar.ejs %>
        <div class="container">
            <div class="content mt-4 px-10">
                <div class="header ">
                    <h2>
                        隊員資料
                    </h2>
                </div>
                <div class="input-area p-6">
                    <form id="addMember" action="/signup" method="POST">
                        <div class="form-group">
                            <label for="name">姓名</label>
                            <input type="text" name="name" class="form-control" placeholder="王阿明">
                        </div>
                        <div class="form-group">
                            <label for="gender">性別</label>
                            <select name="gender" class="form-control">
                            <option>男</option>
                            <option>女</option>
                        </select>
                        </div>
                        <div class="form-group">
                            <label for="id">身分證字號</label>
                            <input type="password" name="id" maxlength="10" class="form-control" placeholder="F123456789">
                        </div>
                        <div class="form-group">
                            <label for="">生日</label>
                            <input type="date" name="birthday" class="form-control" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">學校</label>
                            <select class="form-control" name="school_id">
                            <%
                      for ( var i = 0 ; i < school.length ; i++){
                        var selected = ( i == 0 ) ? "selected" : "";
                    %>
                            <option value="<%= school[i].s_id %>" <%=selected %>>
                                <%= school[i].name %>
                            </option>
                            <% } %>
                        </select>
                        </div>
                        <div class="form-group">
                            <label for="major">系所</label>
                            <select name='major_id' class="form-control" id="">
                            <%
                      for ( var i = 0 ; i < major.length ; i++){
                        var selected = ( i == 0 ) ? "selected" : "";
                    %>
                            <option value="<%= major[i].m_id %>" <%=selected %>>
                                <%= major[i].name %>
                            </option>
                            <% } %>
                        </select>
                        </div>
                        <div class="form-group">
                            <label for="student_id">學號</label>
                            <input type="tel" name="student_id" maxlength="9" class="form-control" id="" placeholder="405417048">
                        </div>
                        <div class="form-group">
                            <label for="tel">連絡電話</label>
                            <input type="tel" name="tel" maxlength="10" class="form-control" placeholder="0912345678">
                        </div>
                        <div class="form-group">
                            <label for="email">信箱</label>
                            <input type="email" name="email" class="form-control" placeholder="name@example.com">
                        </div>
                        <div align="center">
                            <button class="btn btn btn-success" onclick="Add()">確認送出</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

</body>
<script>
    function Add() {
        confirm("確認資料無誤，即將送出!");
        document.getElementById('addMember').submit;
    }
</script>

</html>